.about-us {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  color: #000000;
  font-weight: 700;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__item {
  padding-top: 30px;

  font-size: 17px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .about-us {
    width: 670px;
    padding: 0 49px;
  }

  .about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 310px;
  }
}
