.header {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.header__menu-toggle {
  position: absolute;
  top: 31px;
  right: 29px;

  width: 20px;
  height: 20px;

  background: none;
  border: none;
}

.header__menu-toggle--closed::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;

  display: block;
  width: 20px;
  height: 2px;

  background-color: #221f1f;
  box-shadow: 0 6px 0 0 #221f1f,
    0 12px 0 0 #222222;
}

.header__menu-toggle--opened::before,
.header__menu-toggle--opened::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 7px;

  display: block;
  width: 27px;
  height: 2px;

  background-color: #221f1f;
}

.header__menu-toggle--opened::before {
  transform: rotate(45deg);
}

.header__menu-toggle--opened::after {
  transform: rotate(-45deg);
}

.header__logo {
  display: flex;
  align-items: center;
  height: 75px;
  padding-top: 4px;
}

.header__logo-image {
  margin: auto;
}

.header__logo-image:hover {
  opacity: 0.6;
}

.header__logo-image:active {
  opacity: 0.3;
}

.header__sub-menu {
  display: none;
}

.header__delivery {
  position: absolute;
  z-index: 1;

  display: none;
}

@media (max-width: 767px) {
  .header__menu-toggle--closed ~ .header__navigation,
  .header__menu-toggle--closed ~ .header__side-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    flex-wrap: wrap;
    width: 670px;
    padding: 0 49px;
    margin: 0 auto;
  }

  .header__logo {
    height: 81px;
    padding-top: 7px;
  }

  .header__logo-image img {
    width: 113px;
    height: 46px;
  }

  .header__menu-toggle {
    display: none;
  }

  .header__navigation {
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 96px;
  }

  .header__delivery {
    right: 49px;
    bottom: -57px;

    display: block;

    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
}

@media (min-width: 1150px) {
  .header {
    width: 1052px;
    margin: 0 auto;
  }

  .header__logo {
    height: 83px;
    margin: auto;
    padding-top: 5px;
  }

  .header__logo-image img {
    width: 150px;
    height: 73px;
  }

  .header__navigation {
    position: static;

    display: flex;
    order: -1;
  }

  .header__sub-menu {
    display: flex;
    z-index: 1;

    position: absolute;
    top: 106px;
    left: 51px;
  }
}
