.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
  border-top: 1px solid #ececec;
}

.main-navigation__link {
  display: flex;
  justify-content: center;
  padding: 27px 0;

  text-decoration: none;

  border-bottom: 1px solid #ececec;
}

.main-navigation__link-text {
  box-sizing: border-box;
  min-width: 250px;
  padding-left: 40px;

  text-align: left;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.main-navigation__link:focus .main-navigation__link-text,
.main-navigation__link:hover .main-navigation__link-text {
  color: fade(#000000, 60%);
}

.main-navigation__link:active .main-navigation__link-text {
  color: fade(#000000, 30%);
}

@media (min-width: 768px) {
  .main-navigation__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;

    border: none;
  }

  .main-navigation__item {
    margin-right: 18px;
  }

  .main-navigation__link {
    padding: 10px 0;

    border-bottom: none;
  }

  .main-navigation__link-text {
    min-width: 150px;
    padding-left: 0;

    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 1150px) {
  .main-navigation__item {
    display: flex;
  }

  .main-navigation__item:nth-child(2n) {
    margin-right: 26px;
  }

  .main-navigation__item:nth-child(2n-1) {
    padding-right: 35px;
    margin-right: 35px;

    border-right: 1px solid #ececec;
  }

  .main-navigation__link {
    align-items: center;
    padding: 0;
  }

  .main-navigation__link-text {
    margin: auto 0;

    font-size: 17px;
    line-height: 24px;
  }
}
