.rewind__button {
  position: relative;

  width: 130px;
  height: 50px;

  background-color: #ffffff;
  border: 2px solid #ececec;
}

.rewind__button:hover {
  opacity: 0.6;
}

.rewind__buttom:active {
  opacity: 0.3;
}

.rewind__button--next {
  margin-left: -6px;
}

.rewind__button::before {
  position: absolute;
  top: 22px;
  left: 41px;

  content: "";
  display: block;
  width: 45px;
  height: 4px;

  background-color: #000000;
}

.rewind__button::after {
  position: absolute;
  top: 15px;
  left: 40px;

  content: "";
  display: block;
  width: 14px;
  height: 14px;

  border-top: 4px solid #000000;
  border-left: 4px solid #000000;

  transform: rotate(-45deg);
}

.rewind__button--next::before {
  left: 38px;
}

.rewind__button--next::after {
  left: 66px;

  transform: rotate(135deg);
}

@media (min-width: 768px) {
  .rewind__button {
    width: 101px;

    border: none;
  }

  .rewind__button--previous::before {
    left: 48px;
  }

  .rewind__button--previous::after {
    left: 47px;
  }

  .rewind__button--next::before {
    left: 31px;
  }

  .rewind__button--next::after {
    left: 59px;
  }
}
