.sub-menu {
  display: flex;
}

.sub-menu__link {
  margin-right: 61px;

  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.sub-menu__link:focus,
.sub-menu__link:hover {
  color: fade(#000000, 60%);
}

.sub-menu__link:active {
  color: fade(#000000, 30%);
}
